---
import { Image } from "astro:assets";

import type { Options as FloatOptions } from "../scripts/components/Float/Float.ts";
import type { Options as BallOptions } from "../scripts/components/Ball/Ball.ts";

import sphere from "../assets/sphere.png";
import block from "../assets/block.png";
import block2 from "../assets/block-2.png";
import disc from "../assets/disc.png";
const images = { sphere, block, block2, disc } as const;

type Props = {
  image: keyof typeof images;
  size: number;
  /** how many images? */
  amount?: number;
  /** stack images? */
  stacked?: boolean;
};
const { size, image, amount = 1, stacked = false } = Astro.props;

const { min } = Math;

const floatOptions: FloatOptions = {
  strength: {
    x: min(1, 0.05 + size * 0.001),
    y: min(1, 0.05 + size * 0.001),
  },
};

const ballOptions: BallOptions = {
  container: ".bounds",
  initialRotation: 0,
  speedRotation: 0,
  speedX: 0.1 + size * 0.005,
  speedY: 0.1 + size * 0.005,
};
---

<div
  class:list={["object", { "--stacked": stacked }]}
  x-data={`Ball(${JSON.stringify(ballOptions)})`}
  x-bind="bindings"
  style={{ "--size": size, zIndex: 1000 - size }}
>
  <div x-data={`Float(${JSON.stringify(floatOptions)})`} x-bind="bindings">
    <div class="object_visual">
      {
        Array.from({ length: amount }).map((_, index) => (
          <Image
            src={images[image]}
            style={{ zIndex: 1000 - index }}
            alt="A Sphere."
          />
        ))
      }
    </div>
  </div>
</div>

<script src="../scripts/app.ts"></script>
