---
import Object from "./Object.astro";
import Room from "./Room.astro";
---

<main x-data="Scene" x-cloak x-bind="bindings">

  <Room />

  <!-- controls the outer bounds of the objects -->
  <div class="bounds"></div>


  <Object size={30} image={"sphere"} />
  <Object size={10} image={"sphere"} />
  <Object size={5} image={"sphere"} />

  <!-- <Object size={30} image={"block"} amount={3} stacked={true} />
  <Object size={10} image={"block2"} amount={4} stacked={true} />
  <Object size={20} image={"disc"} amount={2} stacked={true} /> -->
</main>

<style>
  html,body,main {
    touch-action: none;
  }
</style>