---
import Object from "./Object.astro";
---

<main x-data x-cloak>
  <div x-data="Room" x-bind="bindings" class="room">
    <div x-data="Float" x-bind="bindings" class="cube"></div>
  </div>

  <!-- controls the outer bounds of the objects -->
  <div class="bounds"></div>

  <Object size={30} image={"sphere"} />
  <Object size={10} image={"sphere"} />
  <Object size={5} image={"sphere"} />

  <!-- <Object size={30} image={"block"} amount={3} stacked={true} />
  <Object size={10} image={"block2"} amount={4} stacked={true} />
  <Object size={20} image={"disc"} amount={2} stacked={true} /> -->

</main>

<script src="../scripts/app.ts"></script>
