<!doctype html>
<html lang="en">
  <head>
    <script is:inline>
      /** Force a trailing slash. Otherwise, relative links won't work */
      if (!window.location.pathname.endsWith("/")) {
        window.location.replace(window.location.href + '/');
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>IMD Visual 2025</title>
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
    margin: 0;
  }
</style>

<script>
  import "../styles/style.css";
</script>
